#goimail table,table tbody tr td th{
    border-right:none !important;
}

        #chucnang {
            /*margin-top:-350px;*/
            margin-left:-3px;
            margin-top:-150px;
            line-height:330%;
            float:left;
            width:779px;
            border-left:1px solid #C3D5DF;
            /*border-right:1px solid #C3D5DF;*/
        }
            #chucnang div
            {
                border-bottom:none !important;
                border-top:none !important;
            }
            #chucnang div:last-child{
                /*width:190px !important;*/
                margin-right:0px !important;
            }
            @-moz-document url-prefix() {
                     
            }
            #chucnang div:nth-child(1){
                border-left:none !important;
                margin-right:3px !important;
            }
            #chucnang div:nth-child(2){
                margin-right:2px !important;
                margin-left:-1px !important;
            }
            #chucnang div:nth-child(3){
                margin-right:2px !important;
            }
            #chucnang div div
            {
                border-bottom:1px solid #C3D5DF !important;
            }
                #chucnang div div:first-child
                {
                    border-top:1px solid #C3D5DF !important;
                }
      #chucnang #dangky{
                /*margin-left:40px;*/
            }
            #chucnang #dangky #bakground{
                /*background-image: url('../images/column1bottom.png');
                background-position: center top;
                background-repeat: no-repeat;*/
                border:none !important;
                height: 60px;
                width:200px;
                margin-left:45px;
                margin-top:15px;
                margin-bottom:-20px;
            }

/*Firefox fix margin-right:4px; last child:margin-left;-1px;*/